<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
<header id="header"></header>

<main>
    <header>
        <h1>첫번째 글</h1>
    </header>
    <aside>
        <p>hsyoodev</p>
        <p><a href="">hsyoodev@gmail.com</a></p>
        <p>
            <time datetime="2024-01-03T00:00:00">2024-01-03</time>
        </p>
        <p>#java</p>
    </aside>
    <section>
        <p>본문</p>
    </section>
</main>

<footer id="footer"></footer>
</body>
</html>